:root {
    --primary-color: #5C81D9;
    --dark-color: #1e1e1e;
    --light-dark-color: #4e4e4e;
}

body {
    font-family: 'Oswald', sans-serif;
    background-color: var(--dark-color);
}

.app {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.pomodoros-completados-container {
    width: 317px;
    margin: 0 auto;
}

.pomodoros-completados-container p {
    margin: 20px 0;
    padding: 12px;
    background-color: #4e4e4e;
    color: #d9d9d9;
    border-radius: 5px;
    font-size: 24px;
}

.pomodoros-completados-text {
    opacity: .5;
}

.pomodoros-completados-text:hover {
    opacity: 1;
    cursor: pointer;
}

.cronometro-container {
    margin: 0 auto;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: conic-gradient(#5C81D9 3.6deg, #d9d9d9 0deg);
    box-shadow: 10px 10px 12px 0px rgba(0,0,0,0.49);
    -webkit-box-shadow: 10px 10px 12px 0px rgba(0,0,0,0.49);
    -moz-box-shadow: 10px 10px 12px 0px rgba(0,0,0,0.49);
}

.cronometro {
    width: 280px;
    height: 280px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 80px;
    font-weight: 600;
    background: #1e1e1e;
    color: #d9d9d9;
}

.cronometro.descanso {
    border: 5px solid green;
}

.progress-bar-container {
    margin: 28px auto;
    width: 300px;
    height: 10px;
    background-color: var(--primary-color);
    box-shadow: hidden;
}

.progress-bar {
    width: 100%;
    height: 100%;
    background-color: var(--light-dark-color);
    transform: translate(100px);
}

.botones {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 44px;
}

.button {
    position: relative;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: none;
    background-color: #4e4e4e;
    opacity: 0.5;
    color: #d9d9d9;
    cursor: pointer;
}

.button:hover {
    opacity: 1;
}

.button span {
    font-size: 38px;
}