body {
    font-family: 'Oswald', sans-serif;
    background-color: #1e1e1e;
}

.pomodoros-completados-container {
    width: 660px;
    margin: 0 auto;
    display: flex;
    justify-content: end;
}

.pomodoros-completados-container p {
    margin: 20px 0;
    padding: 12px;
    background-color: #4e4e4e;
    color: #d9d9d9;
    border-radius: 5px;
    font-size: 24px;
}

.pomodoros-completados-text {
    opacity: .5;
}

.pomodoros-completados-text:hover {
    opacity: 1;
    cursor: pointer;
}

.cronometro-container {
    display: flex;
    justify-content: center;
}

.cronometro {
    display: flex;
    gap: 16px;
}

.minutos-container, .segundos-container {
    display: flex;
    flex-direction: row;
}

.numero-container {
    margin: 8px;
    height: 280px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #d9d9d9;
    box-shadow: 10px 10px 12px 0px rgba(0,0,0,0.49);
    -webkit-box-shadow: 10px 10px 12px 0px rgba(0,0,0,0.49);
    -moz-box-shadow: 10px 10px 12px 0px rgba(0,0,0,0.49);
}

.numero-container.descanso {
    height: 270px;
    width: 140px;
    border: 5px solid green;
}

.numero {
    font-size: 160px;
    font-weight: 600;
}

.mensaje-container {
    transition: all 1s;
    opacity: 0;
    margin: 10px auto;
    display: flex;
    justify-content: center;
    background-color: #d9d9d91f;
    border: 3px solid green;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    color: white;
    width: 660px;
    font-size: 18px;
}

.mensaje-container.activate {
    opacity: 1;
}

.botones {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 44px;
}

.button {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: none;
    background-color: #4e4e4e;
    opacity: 0.5;
    color: #d9d9d9;
    cursor: pointer;
}

.button:hover {
    opacity: 1;
}

.button span {
    font-size: 38px;
}